
.card {
    width: 150px;
    height: 280px;
    border: 1px solid #abd332;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.peoples{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}   
img{
    width: 130px;
}